*{
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* 2nd navbar*/

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #58D68D;
    color: white;
}

.brand-title {
    font-size: 35px;
    margin-left:40px ;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    color: #ECF0F1;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 13px ;
    border-radius: 3px; 
    text-transform: uppercase;
    margin-left:20px ;
}

.navbar-links li a.active {
    background-color: whitesmoke;
    color: yellowgreen;
    transition: .5s;
    font-weight: bold;
    font-size: 18px;
}
.navbar-links li a:hover {
    background-color: whitesmoke;
    color: yellowgreen;
    transition: .5s;
    font-weight: bold;
    font-size: 18px;
}
#links{
    font-size: 40px;
    color: white;
    margin-top: -10px;
    margin-left: 40px;
}
#links:hover{
    font-size: 50px;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;

   
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }
    .toggle-button .bar{
        background-color: white;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        margin: 10px;
    }

    .navbar-links ul li a {
        padding: 5px;
    }

    .navbar-links.active {
        display: flex;
    }
    #links{
        margin-left: 200px;
        margin-top: 15px;
    }
}

/*end of 2nd navbar*/

.card-container {
    width: 100%;
    display: flex;
    margin-left: 40px;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.empty_div {
    position: relative;
    transition: all 0.5s ease;
}

  .event_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    padding: 0 30px;
    align-items: center;
    margin: 30px;
    width: 300px;
    min-height: 30rem;
    word-wrap: break-all;
    cursor: pointer;
    transition: all 0.5s ease;
    border-bottom-color: #5cb85c;
    border-bottom-width: 4px;
}

.event_card::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #5cb85c;
    border-radius: 100%;
    position: absolute;
    top: 25px;
    left: 47%;
}

.event_card .btn {
    background-color: #5cb85c;
    border: 1px solid #5cb85c;
}

.date {
    color: grey;
    margin-top: 20px;
}

.date:nth-child(2) {
    margin-bottom: 20px;
}

.event_details {
    display: flex;
    flex-direction: column;
}

.empty_div:hover {
    transform: scale(0.95);
    transition: all 0.5s ease;
}


  .event_title {
    font-weight: bold;
    font-size: 1.5rem;
    min-height: 5rem;
}

.link {
    margin-top: 20px;
}

.location {
    color: #5cb85c;
    font-weight: bold;
}

footer {
    border-top: 2px solid rgba(0, 0, 0, 0.125);
    width: 100%;
    text-align: center;
    flex: none;
    position: sticky;
    top: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    align-items: center;
}

@media screen and (max-width:768px) {
    .card-container {
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
}

@media screen and (max-width:320px) {
    footer {
        font-size: 0.9rem;
    }
}
html,
body {
  width: 100%;
  height:100%; 
  overflow-x: hidden;
}

.card-container {
     width: 100%;
     display: flex;
     margin-left: 40px;    
     flex-wrap: wrap;
     margin-bottom:150px;
     
}
.empty_div {
    position: relative;
    transition: all 0.5s ease;
  }
  .event_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    padding: 30px;
    align-items: center;
    margin:30px;
    width:300px;
    word-wrap: break-all;
    cursor: pointer;
    transition: all 0.5s ease;
    border-bottom-color: #5cb85c;
    border-bottom-width: 4px;
  }
  .event_card::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #5cb85c;
    border-radius: 100%;
    position: absolute;
    top: 25px;
    left: 47%;
  }
  .event_card .btn{
      background-color: #5cb85c;
      border:1px solid #5cb85c;
  }
  .date{
      color: grey;
      margin-top: 20px;
  }
  .date:nth-child(2){
      margin-bottom: 20px;
  }
  .event_details{
      display: flex;
      flex-direction: column;
  }
  .empty_div:hover {
    transform: scale(0.95);
  }
  .event_title {
    font-weight: bold;
  }
  .link{
      margin-top: 20px;
  }
  
  .location{
      color: #5cb85c;
      font-weight: bold;
  }
  footer {
    border-top: 2px solid rgba(0, 0, 0, 0.125);
    width: 100%;
    text-align:center;
    flex:none;
    position:sticky;
    top:100%;
    padding-top: 10px;
    padding-bottom:5px;
    align-items: center;
  }
  @media screen and (max-width:768px){
    .card-container{
        align-items: center;
        justify-content: center;
        margin-left:0px;
    }
  }
  @media screen and (max-width:320px){
    footer{
      font-size:0.9rem;
    }
  }

aside {
    max-width: 700px;
    margin: auto;
}
.survey-hr {
    margin: 30px 0;
    border: .5px solid #ddd;
}
.star-rating {
    margin: 25px 0 0px;
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 175px;
    height: 35px;
    overflow: hidden;
    position: relative;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}
.star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}
.star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
}
.star-rating input:hover+i,
.star-rating input:checked+i {
  opacity: 1;
}
.star-rating i~i {
    width: 40%;
  }
  
  .star-rating i~i~i {
    width: 60%;
  }
  
  .star-rating i~i~i~i {
    width: 80%;
  }
  
  .star-rating i~i~i~i~i {
    width: 100%;
  }
  
  .choice {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    display: block;
  }
  
  span.scale-rating {
    margin: 5px 0 15px;
    display: inline-block;
  
    width: 100%;
  
  }
  span.scale-rating>label {
    position: relative;
    -webkit-appearance: none;
    outline: 0 !important;
    border: 1px solid grey;
    height: 33px;
    margin: 0 5px 0 0;
    width: calc(10% - 7px);
    float: left;
    cursor: pointer;
  }
  
  span.scale-rating label {
    position: relative;
    -webkit-appearance: none;
    outline: 0 !important;
    height: 33px;
    margin: 0 5px 0 0;
    width: calc(10% - 7px);
    float: left;
    cursor: pointer;
  }
  
  span.scale-rating input[type=radio] {
    position: absolute;
    -webkit-appearance: none;
    opacity: 0;
    outline: 0 !important;
    /*border-right: 1px solid grey;*/
    height: 33px;
    margin: 0 5px 0 0;
  
    width: 100%;
    float: left;
    cursor: pointer;
    z-index: 3;
  }
  
  span.scale-rating label:hover {
    background: #fddf8d;
  }
  
  span.scale-rating input[type=radio]:last-child {
    border-right: 0;
  }
  
  span.scale-rating label input[type=radio]:checked~label {
    -webkit-appearance: none;
  
    margin: 0;
    background: #fddf8d;
  }
  
  span.scale-rating label:before {
    content: attr(value);
    top: 7px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
  }
  
form {
    color: hsl(58, 100%, 48%);
    font-size: 18px;
}

label {
    color: #000;
    font-weight:  bold;
}

 

